<!-- Modal toggle -->
<button data-modal-target="crud-modal" data-modal-toggle="crud-modal"
    class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    type="button">
    Advanced Filters
</button>

<!-- Main modal -->
<div id="crud-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Filter Products
                </h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-toggle="crud-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <!-- Dropdown: Portas -->
                    <div class="col-span-2 sm:col-span-1">
                        <label for="doors"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Portas</label>
                        <select id="doors"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected>Selecione</option>
                            <option value="2">2 Portas</option>
                            <option value="4">4 Portas</option>
                            <option value="6">6 Portas</option>
                        </select>
                    </div>
                    <!-- Dropdown: Condição -->
                    <div class="col-span-2 sm:col-span-1">
                        <label for="condition"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Condição</label>
                        <select id="condition"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected>Selecione</option>
                            <option value="new">Novo</option>
                            <option value="used">Usado</option>
                            <option value="certified">Certificado</option>
                        </select>
                    </div>
                    <!-- Dropdown: Cores -->
                    <div class="col-span-2">
                        <label for="colors"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cores</label>
                        <select id="colors"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected>Selecione</option>
                            <option value="red">Vermelho</option>
                            <option value="blue">Azul</option>
                            <option value="black">Preto</option>
                            <option value="white">Branco</option>
                            <option value="green">Verde</option>
                        </select>
                    </div>
                    <!-- Input: Preço Mínimo -->
                    <div class="col-span-2 sm:col-span-1">
                        <label for="min-price"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Preço Mínimo</label>
                        <input type="number" id="min-price"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="0">
                    </div>
                    <!-- Input: Preço Máximo -->
                    <div class="col-span-2 sm:col-span-1">
                        <label for="max-price"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Preço Máximo</label>
                        <input type="number" id="max-price"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="100000">
                    </div>
                    <!-- Checkbox: Elétrico -->
                    <div class="col-span-2">
                        <div class="flex items-center">
                            <input id="electric" type="checkbox"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="electric"
                                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Elétrico</label>
                        </div>
                    </div>
                </div>
                <button type="submit"
                    class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                            clip-rule="evenodd"></path>
                    </svg>
                    Filtrar
                </button>
            </form>
        </div>
    </div>
</div>