<div
    class="w-[320px] max-w-sm bg-white border border-gray-200 rounded-2xl shadow-xl dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-center bg-slate-700 rounded-2xl m-1 h-64">
        <img class="pt-4 px-4 rounded-t-2xl w-64 h-56 object-contain transition-opacity hover:opacity-90"
            [src]="car ? baseURL + car.image : baseURL + moto.image"
            [alt]="car ? car.model.brand.name + ' ' + car.model.name : moto.model.brand.name + ' ' + moto.model.name" />
    </div>
    <div class="px-4 pt-2 pb-4">
        <div>
            <h5 class="text-xl font-bold tracking-tight text-gray-900 truncate">
                {{ car ? (car.model.brand.name + ' ' + car.model.name) : (moto.model.brand.name + ' ' + moto.model.name)
                }}
            </h5>

            <div class="flex justify-between mt-4">
                <span class="text-xs font-medium text-gray-900 bg-slate-200 px-2 py-1 rounded-md">{{ car ? car.year
                    :
                    moto.year }}</span>
                <span class="text-xs font-medium text-gray-900 bg-slate-200 px-2 py-1 rounded-md">{{ car ?
                    car.kilometers : moto.kilometers || 0 }} km</span>
                <span *ngIf="car" class="text-xs font-medium text-gray-900 bg-slate-200 px-2 py-1 rounded-md">
                    {{ car.electric ? 'Electric' : 'Fuel' }}
                </span>
                <span *ngIf="car" class="text-xs font-medium text-gray-900 bg-slate-200 px-2 py-1 rounded-md">
                    {{ car.doors }} doors
                </span>
                <span *ngIf="moto" class="text-xs font-medium text-gray-900 bg-slate-200 px-2 py-1 rounded-md">
                    Fuel
                </span>
                <span *ngIf="moto" class="text-xs font-medium text-gray-900 bg-slate-200 px-2 py-1 rounded-md">
                    {{ moto.color }}
                </span>
            </div>
        </div>
        <div class="flex items-center justify-between mt-4">
            <span class="text-lg font-bold text-gray-900 ml-3">${{ car ? car.price : moto.price }}</span>
            <button (click)="navigateToDetails(car ? 'car' : 'moto', car ? car.id : moto.id)"
                class="text-white bg-slate-700 hover:bg-slate-800 font-semibold rounded-2xl text-lg px-4 py-2 transition-colors">
                See Details
            </button>
        </div>
    </div>
</div>