<div class="mt-20">
    <div *ngIf="car">
        <h2>Car Details</h2>
        <p><strong>Brand:</strong> {{ car.model.brand.name }}</p>
        <p><strong>Model:</strong> {{ car.model.name }}</p>
        <p><strong>Year:</strong> {{ car.year }}</p>
        <p><strong>Price:</strong> {{ car.price }}€</p>
        <p><strong>Kilometers:</strong> {{ car.kilometers }} km</p>
        <p><strong>Color:</strong> {{ car.color }}</p>
        <p><strong>Electric:</strong> {{ car.electric ? 'Yes' : 'No' }}</p>
        <p><strong>Doors:</strong> {{ car.doors }}</p>
        <p><strong>Specifications:</strong> {{ car.model.specifications }}</p>
        <p><strong>Release Year:</strong> {{ car.model.releaseYear }}</p>
        <p><strong>Base Price:</strong> {{ car.model.base_price }}</p>
        <img class="pt-4 px-4 rounded-t-2xl w-60 h-60 object-contain transition-opacity hover:opacity-90"
            [src]="urlImage + car.image " [alt]="car.model.brand.name + ' ' + car.model.name" />
    </div>

    <div *ngIf="moto">
        <h2>Moto Details</h2>
        <p><strong>Brand:</strong> {{ moto.model.brand.name }}</p>
        <p><strong>Model:</strong> {{ moto.model.name }}</p>
        <p><strong>Year:</strong> {{ moto.year }}</p>
        <p><strong>Price:</strong> {{ moto.price }}€</p>
        <p><strong>Kilometers:</strong> {{ moto.kilometers }} km</p>
        <p><strong>Color:</strong> {{ moto.color }}</p>
        <p><strong>Color:</strong> {{ moto.color }}</p>
        <p><strong>Specifications:</strong> {{ moto.model.specifications }}</p>
        <p><strong>Release Year:</strong> {{ moto.model.releaseYear }}</p>
        <p><strong>Base Price:</strong> {{ moto.model.base_price }}</p>
        <img class="pt-4 px-4 rounded-t-2xl w-60 h-60 object-contain transition-opacity hover:opacity-90"
            [src]="urlImage + moto.image" [alt]="moto.model.brand.name + ' ' + moto.model.name" />
    </div>

    <button (click)="goBack()">Go Back</button>
</div>