<div
    class="bg-white rounded-2xl shadow-md ax-w-xs w-72 h-68 overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-2xl">
    <a href="#">
        <div class="flex items-center justify-center">
            <img src="../../../../assets/logo-removebg-preview.png" alt="Group Logo"
                class="w-full h-56 object-contain p-4 bg-white" />
        </div>
        <div class="px-8 -mt-8">
            <div class="flex items-center justify-between">
                <h3 class="text-2xl text-slate-900 font-bold mb-5">Group Name</h3>
            </div>
        </div>
    </a>
</div>