<div
    class="bg-white rounded-2xl shadow-lg max-w-xs w-80 h-140 overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-2xl">
    <a href="#">
        <div class="flex items-center justify-center">
            <img src="../../../../assets/logo-removebg-preview.png" alt="Group Logo"
                class="w-full h-40 object-contain p-4 bg-white" />
        </div>
        <div class="px-6 py-4">
            <div class="flex items-center justify-between">
                <h3 class="text-2xl text-gray-800 font-bold mb-4">Group Name</h3>
            </div>
        </div>
    </a>
</div>