<div class="w-full">
  <div class="flex flex-col space-y-4 ml-64 mt-4">
    <div class="flex items-center space-x-4">
      <div class="relative w-96">
        <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Search {{ type }}"
          class="w-96 pl-10 pr-4 py-2 border-2 border-sky-800 bg-white rounded-lg focus:outline-none focus:ring-2 focus:ring-sky-800" />
        <img src="../../../assets/search.svg" alt="SearchIcon"
          class="absolute top-1/2 left-3 transform -translate-y-1/2 w-5 h-5 text-gray-500">
      </div>

      <div *ngIf="type === 'cars' || type === 'motos'" class="ml-4">
        <select [(ngModel)]="sortOption" (change)="onSortChanged()"
          class="border-2 border-sky-800 bg-white rounded-lg focus:outline-none focus:ring-2 focus:ring-sky-800">
          <option value="">Sort ⇅</option>
          <option value="price_asc">Sort by Price ↑</option>
          <option value="price_desc">Sort by Price ↓</option>
          <option value="year_asc">Sort by Year ↑</option>
          <option value="year_desc">Sort by Year ↓</option>
          <option value="kilometers_asc">Sort by Kilometers ↑</option>
          <option value="kilometers_desc">Sort by Kilometers ↓</option>
        </select>
      </div>

      <div *ngIf="type === 'cars' || type === 'motos'">
        <app-vehicles-filter [type]="type" (applyFilters)="onFiltersApplied($event)"></app-vehicles-filter>
      </div>
      <div *ngIf="authState?.isManager && (type === 'cars' || type === 'motos')">
        <button [routerLink]="['/vehiclecreate', type]"
          class="bg-sky-800 text-white text-base font-bold px-4 py-2 rounded-lg hover:bg-sky-950 focus:outline-none shadow-md flex items-center space-x-2"
          type="button">
          <img src="assets/plus.png" alt="New Create Icon" class="mr-2 w-4 h-4 filter invert" />
          Create {{ type === 'cars' ? 'Car' : 'Moto' }}
        </button>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 mt-10 justify-center items-center">
    <ng-container *ngIf="type === 'cars'">
      <app-cards-and-motos-cards class="flex justify-center items-center" *ngFor="let result of results"
        [car]="result"></app-cards-and-motos-cards>
    </ng-container>
    <ng-container *ngIf="type === 'motos'">
      <app-cards-and-motos-cards class="flex justify-center items-center" *ngFor="let result of results"
        [moto]="result"></app-cards-and-motos-cards>
    </ng-container>

    <ng-container *ngIf="type === 'groups'">
      <app-brands-and-groups-cards class="flex justify-center items-center" *ngFor="let result of results"
        [group]="result"></app-brands-and-groups-cards>
    </ng-container>
    <ng-container *ngIf="type === 'brands'">
      <app-brands-and-groups-cards class="flex justify-center items-center" *ngFor="let result of results"
        [brand]="result"></app-brands-and-groups-cards>
    </ng-container>
  </div>

  <div *ngIf="results && results.length<1" class="mt-8 p-4 text-gray-500 text-center">
    No results found.
  </div>
</div>