{% extends "index.html" %}

{% block content %}
{% load static %}
<div class="px-10 lg:px-32 py-10">
    <a href="{% url 'cars' %}" class="absolute top-4 left-4 flex items-center space-x-2 group"
        style="margin-top: 80px; margin-left: 10px;">
        <img src="{% static 'imgs/left.png' %}" alt="back"
            class="w-10 h-10 filter invert brightness-0 hover:brightness-0 group-hover:filter-none group-hover:bg-white rounded-full">
        <span class="text-white text-lg group-hover:border-b-2 group-hover:border-white">Go to the Cars Page</span>
    </a>

    <div
        class="flex flex-col lg:flex-row items-center lg:items-start justify-between mt-16 space-y-6 lg:space-y-0 lg:space-x-10">

        <div class="flex flex-col items-start text-white lg:w-2/3 space-y-2">
            <h1 class="text-5xl font-extrabold mb-4">{{ car.model.brand.name }} {{ car.model.name }}</h1>
            <div class="space-y-2">
                <p class="text-lg"><strong>Brand:</strong> {{ car.model.brand.name }}</p>
                <p class="text-lg"><strong>Model:</strong> {{ car.model.name }}</p>
                <p class="text-lg"><strong>Base Price:</strong> €{{ car.model.base_price }}</p>
                <p class="text-lg"><strong>Price:</strong> €{{ car.price }}</p>
                <p class="text-lg"><strong>Kilometers:</strong> {{ car.kilometers }} km</p>
                <p class="text-lg"><strong>Color:</strong> {{ car.color }}</p>
                <p class="text-lg"><strong>Doors:</strong> {{ car.doors }}</p>
                <p class="text-lg"><strong>Electric:</strong> {{ car.electric|yesno:"Yes,No" }}</p>
                <p class="text-lg"><strong>Specifications:</strong> {{ car.model.specifications }}</p>
            </div>
        </div>

        <div class="flex flex-col items-center w-96 lg:w-2/5 rounded-2xl shadow-lg bg-gray-800 p-6">
            <img src="{{ car.image.url }}" alt="{{ car.model.name }}" class="w-full h-full object-contain rounded-lg mb-8">
            {% if authenticated %}
            <div class="flex space-x-4 items-center mt-4">
                {% if not manager %}
                {% if isBuyed %}
                <div class="text-brown font-semibold text-lg">This car has been purchased by you.</div>
                {% elif isBuyed == False %}
                <div class="text-brown font-semibold text-lg">This car has been purchased.</div>
                {% elif not isSelected %}
                <form action="{% url 'selectCar' car.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-full shadow-md">
                        Show Interest
                    </button>
                </form>
                {% else %}
        
                <div class="text-blue-500 text-xl font-bold">
                    <form action="{% url 'selectCar' car.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-full shadow-md">
                            Interested
                        </button>
                </form>
                </div>
        
                {% endif %}
        
                <form action="." method="post" class="flex flex-col items-center">
                    {% csrf_token %}
                    <button type="submit" class="focus:outline-none">
                        {% if isFavorite %}
                        <img src="{% static 'imgs/favorite_active.png' %}" alt="Remove from Favorites" class="w-10 h-10 mb-1">
                        {% else %}
                        <img src="{% static 'imgs/favorite_inactive.png' %}" alt="Add to Favorites" class="w-10 h-10 mb-1">
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
    
    {% else %}

    <div class="flex justify-center mt-6 space-x-4">
        <a href="{% url 'updateCar' car.id %}">
            <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none shadow-lg">
                Update Car
            </button>
        </a> 
        <a href="{% url 'deleteCar' car.id %}">
            <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none shadow-lg">
                Delete Car
            </button>
        </a>
    </div>
    {% endif %}
    {% endif %}

</div>
{% endblock %}

{% block extra_content %}
<link href="{% static 'content/style.css' %}" rel="stylesheet">
<link href="{% static 'content/tailwind.css' %}" rel="stylesheet">
<link href="{% static 'content/stylespages.css' %}" rel="stylesheet">
{% endblock %}