{% extends "index.html" %} {% block content %} {% load static %}
<div class="flex flex-col items-center mx-16">
  <form action="." method="post" class="space-y-6">
    {% csrf_token %}

    <!-- Nome do Carro -->
    <div class="flex items-center space-x-4">
      <div class="flex-1">
        <label for="id_name" class="block text-white font-semibold mb-2"
          >Name</label
        >
        {{ form.name }}
      </div>

      <!-- Tipo de Ordenação -->
      <div class="flex-1">
        <label for="id_sort" class="block text-white font-semibold mb-2"
          >Sort by</label
        >
        {{ form.sort }}
      </div>
    </div>



    <!-- Número de Portas, Novo ou Usado, Cor - Linha única -->
    <div class="flex items-center space-x-4">
      <div class="flex-1">
        <label for="id_numberDoors" class="block text-white font-semibold mb-2"
          >Number of Doors</label
        >
        {{ form.numberDoors }}
      </div>

      <div class="flex-1">
        <label for="id_newOrUsed" class="block text-white font-semibold mb-2"
          >Condition</label
        >
        {{ form.newOrUsed }}
      </div>

      <div class="flex-1">
        <label for="id_color" class="block text-white font-semibold mb-2"
          >Color</label
        >
        {{ form.color }}
      </div>
    </div>


    <!-- Preço Máximo e Mínimo + Is Electric na mesma linha -->
    <div class="flex items-center space-x-5">
        <!-- Max Price -->
        <div class="flex-1">
            <label for="id_priceMax" class="block text-white font-semibold mb-2">Max Price</label>
            {{ form.priceMax }}
        </div>

        <!-- Min Price -->
        <div class="flex-1" >
            <label for="id_priceMin" class="block text-white font-semibold mb-2">Min Price</label>
            {{ form.priceMin }}
        </div>

        <!-- Is Electric -->
        <div class="flex-1 flex flex-col items-center">
            <label for="id_isElectric" class="block text-white font-semibold mb-2">Electric</label>
            <div class="flex justify-center">
                {{ form.isElectric }}
            </div>
        </div>
    </div>

    <!-- Botão de Enviar -->
    <div class="text-center">
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-6 border border-blue-500 rounded-lg"
      >
        Search
      </button>
    </div>
  </form>

  <div class="flex gap-8 w-full py-6 px-2 mt-1 justify-center flex-wrap">
    {% for car in cars %}
    <div
      class="w-80 h-96 rounded-2xl shadow-lg shadow-zinc-950 p-2 flex flex-col justify-between items-center mb-8"
    >
      <img
        src="{{ car.image.url }}"
        alt="{{ car.model }}"
        class="w-full h-52 object-contain"
      />

      <div class="w-full text-center bg-white py-1 rounded-xl mt-auto">
        <h2 class="text-lg font-bold">
          {{ car.model.brand.name }} {{ car.model.name }}
        </h2>
        <p class="text-sm text-gray-600">Price: {{ car.price }}€</p>
        <a href="{% url 'car_detail' car.id %}">
          <button
            class="mt-6 bg-sky-800 text-white text-base font-bold px-3 py-1 rounded-lg hover:bg-sky-950 focus:outline-none mb-2"
          >
            View Details
          </button>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block extra_content %}
<link href="{% static 'content/style.css' %}" rel="stylesheet" />
<link href="{% static 'content/tailwind.css' %}" rel="stylesheet" />
<link href="{% static 'content/stylespages.css' %}" rel="stylesheet" />

<script>
  function toggleDropdown() {
    var dropdownMenu = document.getElementById("dropdownMenu");
    dropdownMenu.classList.toggle("hidden");
  }

  function closeDropdown() {
    var dropdownMenu = document.getElementById("dropdownMenu");
    dropdownMenu.classList.add("hidden");
  }

  window.addEventListener("click", function (event) {
    var dropdownMenu = document.getElementById("dropdownMenu");
    var dropdownButton = document.getElementById("dropdownButton");
    if (
      !dropdownButton.contains(event.target) &&
      !dropdownMenu.contains(event.target)
    ) {
      dropdownMenu.classList.add("hidden");
    }
  });
</script>
{% endblock %}
