{% extends "index.html" %}

{% block content %}
{% load static %}
<div>
    <a href="{% url 'groups' %}" class="absolute top-4 left-4 flex items-center space-x-2 group"
        style="margin-top: 80px; margin-left: 10px;">
        <img src="{% static 'imgs/left.png' %}" alt="back"
            class="w-10 h-10 filter invert brightness-0 hover:brightness-0 group-hover:filter-none group-hover:bg-white rounded-full">
        <span class="text-white text-lg group-hover:border-b-2 group-hover:border-white">Go Back</span>
    </a>

    <div class="flex flex-col lg:flex-row items-center lg:items-start justify-between px-44 mt-16">
        <div class="flex flex-col items-start text-white lg:w-2/3 space-y-4">
            <h1 class="text-5xl font-extrabold mb-4">{{ group.name }}</h1>
            <p class="text-lg"><strong>Country:</strong> {{ group.country }}</p>
            <p class="text-lg"><strong>Email:</strong><a href="mailto:{{ group.email }}" class="underline hover:text-gray-300"> {{ group.email }}</a></p>
            <p class="text-lg">
                <strong>Website:</strong>
                <a href="{{ group.website }}" target="_blank" class="underline hover:text-gray-300">
                    Visit {{ group.name }}'s website
                </a>
            </p>
        </div>
        
        <div>
            <img src="{{ group.headquarters.url }}" alt="{{ group.name }}"
                class="w-90 h-60 objec-contain my-auto mx-auto rounded-2xl shadow-2xl shadow-zinc-950">

        </div>
    </div>

    <div class="mt-10"></div>

    <div class="flex justify-center items-center mt-20">
        <h2 class="font-extrabold text-3xl text-white">{{ group.name }}'s brands</h2>
    </div>
    <div class="flex gap-8 w-full py-6 px-2 mt-1 justify-center  flex-wrap">
        {% for brand in brands %}
            <div class="rounded-2xl bg-white shadow-2xl shadow-zinc-950 max-w-xs w-80 h-140 overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-2xl mb-8">
                <a href="{% url 'brand_detail' brand.id %}">
                    <div class="flex items-center justify-center p-4">
                        <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" class="w-full h-40 object-contain" />
                    </div>
                    <div class="px-6 py-4 bg-white">
                        <div class="flex items-center justify-between">
                            <h3 class="text-2xl text-gray-800 font-bold mb-4">{{ brand.name }}</h3>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block extra_content %}
<link href="{% static 'content/style.css' %}" rel="stylesheet">
<link href="{% static 'content/tailwind.css' %}" rel="stylesheet">
<link href="{% static 'content/stylespages.css' %}" rel="stylesheet">
{% endblock %}