{% extends "index.html" %}

{% block content %}
{% load static %}
<div class="flex justify-center items-center mt-8">
    <h1 class="text-4xl font-extrabold text-white">Our Groups</h1>
</div>

<div class="flex flex-wrap justify-center gap-8 px-4 mt-8">
    {% for group in groups %}
        <!-- Individual Card -->
        <div class="bg-white rounded-2xl shadow-lg max-w-xs w-80 h-140 overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-2xl">
            <a href="{% url 'group_detail' group.id %}">
                <!-- Image Section -->
                <div class="flex items-center justify-center">
                    {% if group.logo %}
                        <img src="{{ group.logo.url }}" alt="{{ group.name }}" class="w-full h-40 object-contain p-4 bg-white" />
                    {% else %}
                        <!-- Optional placeholder image if no file is associated -->
                        <img src="{% static 'path/to/placeholder.jpg' %}" alt="No Image" class="w-full h-40 object-contain p-4" />
                    {% endif %}
                </div>
                <!-- Group Info Section -->
                <div class="px-6 py-4">
                    <div class="flex items-center justify-between">
                        <h3 class="text-2xl text-gray-800 font-bold mb-4">{{ group.name }}</h3>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block extra_content %}
<link href="{% static 'content/style.css' %}" rel="stylesheet">
<link href="{% static 'content/tailwind.css' %}" rel="stylesheet">
<link href="{% static 'content/stylespages.css' %}" rel="stylesheet">
{% endblock %}