<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarStand</title>

    {% load static %}
    <link href="{% static 'content/style.css' %}" rel="stylesheet">
    <link href="{% static 'content/tailwind.css' %}" rel="stylesheet">
    <link href="{% static 'content/stylespages.css' %}" rel="stylesheet">

    <style>
        .nav-link {
            font-size: 1.25rem;
            font-weight: medium;
            margin: 0 1rem;
            padding-bottom: 2px;
            transition: color 0.2s, border-bottom 0.2s;
        }

        .nav-link:hover {
            border-bottom: 2px solid white;
            color: white;
        }

        .hidden-nav {
            transform: translateY(-100%);
            transition: transform 0.3s ease-in-out;
        }

        .visible-nav {
            transform: translateY(0);
            transition: transform 0.3s ease-in-out;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 50;
        }
    </style>
</head>

<body class="bg-gradient-to-r from-slate-900 to-slate-700 flex flex-col min-h-screen">
    <nav class="bg-slate-900">
        <div class="mx-auto max-w-7xl px-4 sm:px-4">
            <div class="relative flex h-20 items-center justify-between">
                <div class="flex flex-shrink-0 items-center">
                    <a href="{% url 'index' %}">
                        <img class="h-24 w-auto mt-3" src="{% static 'imgs/logo-removebg-preview.png' %}"
                            alt="TPWStand Logo">
                    </a>
                </div>

                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-center">
                    <div class="hidden sm:block">
                        <div class="flex lg:space-x-20 space-x-4">
                            <a href="{% url 'index' %}" class="nav-link text-gray-300 hover:text-white">Home</a>
                            <a href="{% url 'cars' %}" class="nav-link text-gray-300 hover:text-white">Cars</a>
                            <a href="{% url 'motorbikes' %}" class="nav-link text-gray-300 hover:text-white">Motor
                                Bikes</a>
                            <a href="{% url 'brands' %}" class="nav-link text-gray-300 hover:text-white">Brands</a>
                            <a href="{% url 'groups' %}" class="nav-link text-gray-300 hover:text-white">Groups</a>
                        </div>
                    </div>
                </div>

                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    {% if user.is_authenticated %}
                    <div class="relative">
                        <button id="avatar-button"
                            class="h-11 w-11 p-0.5 border-4 border-white rounded-full filter invert brightness-0">
                            <img src="{% static 'imgs/user.png' %}" alt="User Avatar">
                        </button>

                        <div id="dropdown-menu"
                            class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-50"
                            style="z-index: 1000;">
                            <a href="{% url 'edit_profile' %}"
                                class="block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:rounded-md">Profile</a>
                            <button id="logoutBtn"
                                class="w-full text-left block px-4 py-2 text-gray-800 hover:bg-gray-100 hover:rounded-md">
                                Logout
                            </button>
                        </div>

                    </div>

                    {% else %}
                    <a href="{% url 'login' %}"
                        class="w-32 text-center shadow-xl py-3 px-6 text-sm font-semibold rounded-md text-white bg-gray-800 hover:bg-[#222] focus:outline-none">
                        Log in
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <div id="logoutModal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white rounded-xl px-6 py-4 space-y-6 max-w-md w-full relative">
            <!-- Close Modal Button -->
            <button id="closeModalBtn"
                class="absolute top-4 right-4 text-gray-600 hover:text-gray-900 text-5xl font-bold mr-2">
                &times;
            </button>
            <h2 class="text-xl font-semibold text-gray-800">Are you sure you want to log out?</h2>
            <div class="flex justify-end gap-4">
                <button id="cancelLogoutBtn"
                    class="text-gray-800 hover:text-white bg-gray-200 hover:bg-gray-400 py-2 px-4 rounded-md">
                    Cancel
                </button>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="text-white bg-red-500 hover:bg-red-700 py-2 px-4 rounded-md">
                        Log out
                    </button>
                </form>
            </div>
        </div>
    </div>

    <main role="main" class="flex-grow pt-10">
        <div class="px-4">
            {% block content %}
            {% endblock %}

            <!-- Content exclusive to the homepage (index.html) -->
            {% block extra_content %}
            {% if manager is None %}
            <div class="carousel relative w-full max-w-6xl mx-auto mt-8 h-[40rem] shadow-2xl shadow-zinc-950">
                <!-- Carousel Items Container -->
                <div class="carousel-inner relative overflow-hidden h-[40rem]">
                    {% for car in cars %}
                    <div class="carousel-item {% if forloop.first %}block{% else %}hidden{% endif %} w-full h-full">
                        <a href="{% url 'car_detail' car.id %}">
                            <div class="bg-white rounded-lg shadow-lg p-4 h-full flex justify-center items-center">
                                {% if car.image %}
                                <img src="{{ car.image.url }}" alt="{{ car.name }}"
                                    class="w-full h-[32rem] object-cover rounded-lg mb-4">
                                {% else %}
                                <img src="{% static 'path/to/placeholder.jpg' %}" alt="Placeholder"
                                    class="w-full h-full object-cover rounded-lg mb-4">
                                {% endif %}

                                <div
                                    class="absolute bottom-8 left-1/2 transform -translate-x-1/2 bg-black bg-opacity-70 text-white px-6 py-3 rounded-lg">
                                    <h3 class="text-center text-2xl font-semibold">{{ car.name }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

                <button id="prev"
                    class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-700 text-white px-3 py-2 rounded-full hover:bg-gray-800 ml-4">
                    &lt;
                </button>
                <button id="next"
                    class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-700 text-white px-3 py-2 rounded-full hover:bg-gray-800 mr-4">
                    &gt;
                </button>
            </div>

            <section class="mt-16 text-center text-gray-300 mb-2">
                <h2 class="text-4xl font-bold mb-4">About CarStand</h2>
                <p class="max-w-2xl mx-auto mb-6 text-lg">
                    Welcome to CarStand, your premier destination for top-quality cars and motorbikes. We pride
                    ourselves
                    on offering a wide selection of vehicles to suit every style and budget. Our commitment to customer
                    satisfaction is at the heart of everything we do. Explore our collection of <a
                        href="{% url 'cars' %}" class="text-blue-400 hover:underline">Cars</a> and <a
                        href="{% url 'motorbikes' %}" class="text-blue-400 hover:underline">Motorbikes</a>, and discover
                    your next vehicle with CarStand.
                </p>
            </section>
            {% else %}

            <div class="flex flex-col gap-8 w-full py-6 px-2 mt-1 justify-center items-center">
                <h1 class="text-white font-extrabold text-4xl">Confirm Purchase</h1>
                <div class="flex justify-center">
                    <form action="." method="post" class="space-y-6 w-full max-w-2xl">
                        {% csrf_token %}

                        <div class="flex items-center space-x-4">
                            <div class="flex-1">
                                <label for="id_name" class="block text-white font-semibold mb-2">Name</label>
                                {{ form.name }}
                            </div>

                            <div class="flex-1">
                                <label for="id_sort" class="block text-white font-semibold mb-2">Sort by</label>
                                {{ form.typeV }}
                            </div>
                        </div>

                        <div class="flex items-center space-x-4 justify-center">
                            <button type="submit"
                                class="bg-sky-800 text-white text-base font-bold px-4 py-2 rounded-lg hover:bg-sky-950 focus:outline-none shadow-md">
                                Search
                            </button>
                        </div>
                    </form>
                </div>

                <div class="flex flex-wrap justify-center gap-8">
                    {% for elem in listForAccept %}
                    <div
                        class="w-80 h-96 rounded-2xl shadow-lg shadow-zinc-950 p-2 flex flex-col justify-between items-center mb-8">
                        <img src="{{ elem.vehicle.image.url }}" alt="{{ elem.vehicle.model }}"
                            class="w-full h-52 object-contain" />

                        <div class="w-full text-center bg-white py-1 rounded-xl mt-auto">
                            <div class="text-lg font-semibold">User: {{ elem.profile }}</div>
                            <h2 class="text-lg font-bold">
                                {{ elem.vehicle.model.brand.name }} {{ elem.vehicle.model.name }}
                            </h2>

                            <div class="mt-5 space-y-2 mb-1">
                                <a href="{% url 'approve' elem.vehicle.id elem.profile.id elem.type  %}">
                                    <button
                                        class="bg-cyan-500 hover:bg-cyan-700 text-white text-base font-bold px-2 py-1 rounded-lg focus:outline-none">
                                        Accept
                                    </button>
                                </a>
                                <a href="{% url 'negate' elem.vehicle.id elem.profile.id elem.type  %}">
                                    <button
                                        class="bg-red-500 hover:bg-red-700 text-white text-base font-bold px-2 py-1 rounded-lg focus:outline-none">
                                        Negate
                                    </button>
                                </a>
                                {% if elem.type %}
                                <a href="{% url 'car_detail' elem.vehicle.id %}">
                                    {% else %}
                                    <a href="{% url 'motorbike_detail' elem.vehicle.id %}">
                                        {% endif %}
                                        <button
                                            class="bg-sky-800 text-white text-base font-bold px-2 py-1 rounded-lg hover:bg-sky-950 focus:outline-none">
                                            View Details
                                        </button>
                                    </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

            {% endif %}

            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="bg-slate-900 text-center text-gray-300 py-4">
            <p>&copy; 2024 CarStand. All rights reserved.</p>
        </div>
    </footer>

    <script>
        // Navbar Hide on Scroll
        let lastScrollY = window.scrollY;
        const navbar = document.getElementById('navbar');

        window.addEventListener('scroll', () => {
            if (window.scrollY > lastScrollY) {
                navbar.classList.remove('visible-nav');
                navbar.classList.add('hidden-nav');
            } else {
                navbar.classList.remove('hidden-nav');
                navbar.classList.add('visible-nav');
            }
            lastScrollY = window.scrollY;
        });

        // Carousel Functionality
        document.addEventListener('DOMContentLoaded', function () {
            const items = document.querySelectorAll('.carousel-item');
            let currentIndex = 0;

            function updateCarousel() {
                items.forEach((item, index) => {
                    item.classList.toggle('hidden', index !== currentIndex);
                    item.classList.toggle('block', index === currentIndex);
                });
            }

            document.getElementById('prev').addEventListener('click', () => {
                currentIndex = (currentIndex > 0) ? currentIndex - 1 : items.length - 1;
                updateCarousel();
            });

            document.getElementById('next').addEventListener('click', () => {
                currentIndex = (currentIndex < items.length - 1) ? currentIndex + 1 : 0;
                updateCarousel();
            });

            updateCarousel();
        });

        // Dropdown Menu Functionality
        document.addEventListener('DOMContentLoaded', function () {
            const avatarButton = document.getElementById('avatar-button');
            const dropdownMenu = document.getElementById('dropdown-menu');

            avatarButton.addEventListener('click', () => {
                dropdownMenu.classList.toggle('hidden');
            });

            document.addEventListener('click', function (event) {
                if (!avatarButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.classList.add('hidden');
                }
            });
        });

        document.getElementById('logoutBtn').addEventListener('click', function () {
            document.getElementById('logoutModal').classList.remove('hidden');
        });

        // Close modal on cancel button click
        document.getElementById('cancelLogoutBtn').addEventListener('click', function () {
            document.getElementById('logoutModal').classList.add('hidden');
        });

        // Close modal on clicking the close button
        document.getElementById('closeModalBtn').addEventListener('click', function () {
            document.getElementById('logoutModal').classList.add('hidden');
        });

        // Close modal when clicking outside the modal
        document.getElementById('logoutModal').addEventListener('click', function (e) {
            if (e.target === this) {
                this.classList.add('hidden');
            }
        });

    </script>
</body>

</html>