<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TPWStand</title>

    {% load static %}
    <link href="{% static 'content/style.css' %}" rel="stylesheet">
    <style>
        /* Estilo para aumentar o tamanho do texto dos botões */
        .nav-link {
            font-size: 1.25rem;
            font-weight: medium;
            margin: 0 1rem;
            padding-bottom: 2px;
            transition: color 0.2s, border-bottom 0.2s;
        }

        /* Efeito de hover com sublinhado branco */
        .nav-link:hover {
            border-bottom: 2px solid white;
            color: white;
        }
    </style>
</head>

<body class="bg-zinc-900">
    <nav class="bg-zinc-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <!-- Aumenta a altura mínima para h-20 -->
            <div class="relative flex h-20 items-center justify-between">
                <!-- Logo do lado esquerdo com altura maior -->
                <div class="flex flex-shrink-0 items-center">
                    <img class="h-24 w-auto mt-3" src="{% static 'imgs/logo-removebg-preview.png' %}"
                        alt="TPWStand Logo">
                </div>

                <!-- Links de navegação ao centro -->
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-center">
                    <div class="hidden sm:block">
                        <div class="flex lg:space-x-20 space-x-4">
                            <a href="#" class="nav-link text-gray-300 hover:text-white">Home</a>
                            <a href="#" class="nav-link text-gray-300 hover:text-white">Cars</a>
                            <a href="#" class="nav-link text-gray-300 hover:text-white">Motor Bikes</a>
                            <a href="#" class="nav-link text-gray-300 hover:text-white">Brands</a>
                        </div>
                    </div>
                </div>

                <!-- Imagem do usuário do lado direito -->
                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    <img class="h-11 w-11 p-0.5 border-4 border-white rounded-full filter invert brightness-0"
                        src="{% static 'imgs/user.png' %}" alt="User Avatar">
                </div>
            </div>
        </div>
    </nav>
</body>

</html>