<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TPWStand</title>

    {% load static %}
    <link href="{% static 'content/style.css' %}" rel="stylesheet">
    <link href="{% static 'content/tailwind.css' %}" rel="stylesheet">
    <link href="{% static 'content/stylespages.css' %}" rel="stylesheet">

    <style>
        .nav-link {
            font-size: 1.25rem;
            font-weight: medium;
            margin: 0 1rem;
            padding-bottom: 2px;
            transition: color 0.2s, border-bottom 0.2s;
        }

        .nav-link:hover {
            border-bottom: 2px solid white;
            color: white;
        }

        .hidden-nav {
            transform: translateY(-100%);
            transition: transform 0.3s ease-in-out;
        }

        .visible-nav {
            transform: translateY(0);
            transition: transform 0.3s ease-in-out;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 50;
        }
    </style>
</head>

<body class="bg-gradient-to-r from-slate-900 to-slate-700 flex flex-col min-h-screen">
    <nav class="bg-slate-900">
        <div class="mx-auto max-w-7xl px-4 sm:px-4">
            <div class="relative flex h-20 items-center justify-between">
                <div class="flex flex-shrink-0 items-center">
                    <a href="{% url 'index' %}">
                        <img class="h-24 w-auto mt-3" src="{% static 'imgs/logo-removebg-preview.png' %}"
                            alt="TPWStand Logo">
                    </a>
                </div>

                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-center">
                    <div class="hidden sm:block">
                        <div class="flex lg:space-x-20 space-x-4">
                            <a href="{% url 'index' %}" class="nav-link text-gray-300 hover:text-white">Home</a>
                            <a href="{% url 'cars' %}" class="nav-link text-gray-300 hover:text-white">Cars</a>
                            <a href="{% url 'motorbikes' %}" class="nav-link text-gray-300 hover:text-white">Motor
                                Bikes</a>
                            <a href="{% url 'brands' %}" class="nav-link text-gray-300 hover:text-white">Brands</a>
                            <a href="{% url 'groups' %}" class="nav-link text-gray-300 hover:text-white">Groups</a>
                        </div>
                    </div>
                </div>

                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">
                        <img class="h-11 w-11 p-0.5 border-4 border-white rounded-full filter invert brightness-0"
                            src="{% static 'imgs/user.png' %}" alt="User Avatar">
                    </a>
                    {% else %}
                    <a href="{% url 'login' %}"
                        class="w-32 text-center shadow-xl py-3 px-6 text-sm font-semibold rounded-md text-white bg-gray-800 hover:bg-[#222] focus:outline-none">
                        Log in
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <main role="main" class="flex-grow pt-10"> <!-- added padding to main content to offset fixed navbar -->
        <div class="px-4">
            {% block content %}
            {% endblock %}

            <!-- Content exclusive to the homepage (index.html) -->
            {% block extra_content %}
                {% for car in cars %}
                    <div id="controls-carousel" class="relative w-full" data-carousel="static">
                        <!-- Carousel wrapper -->
                        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="/docs/images/carousel/carousel-1.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                            </div>
                        </div>
                        <!-- Slider controls -->
                        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                </svg>
                                <span class="sr-only">Previous</span>
                            </span>
                        </button>
                        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                </svg>
                                <span class="sr-only">Next</span>
                            </span>
                        </button>
                    </div>
                {% endfor %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="bg-slate-900 text-center text-gray-300 py-4">
            <p>&copy; 2024 TPWStand. All rights reserved.</p>
        </div>
    </footer>

    <script>
        let lastScrollY = window.scrollY;
        const navbar = document.getElementById('navbar');

        window.addEventListener('scroll', () => {
            if (window.scrollY > lastScrollY) {
                // Rolagem para baixo - esconde a navbar
                navbar.classList.remove('visible-nav');
                navbar.classList.add('hidden-nav');
            } else {
                // Rolagem para cima - mostra a navbar e fixa no topo
                navbar.classList.remove('hidden-nav');
                navbar.classList.add('visible-nav');
            }
            lastScrollY = window.scrollY;
        });

        let currentSlide = 0;
        const totalSlides = document.getElementById("carousel").getAttribute("data-total-slides");

        function updateCarousel() {
            document.querySelector('.flex').style.transform = `translateX(-${currentSlide * 100}%)`;
        }

        function nextSlide() {
            currentSlide = (currentSlide + 1) % totalSlides;
            updateCarousel();
        }

        function previousSlide() {
            currentSlide = (currentSlide - 1 + totalSlides) % totalSlides;
            updateCarousel();
        }
    </script>
</body>

</html>