<div class="absolute flex z-50 top-0 left-0 mt-20">
  <a [routerLink]="vehicleType === 'cars' ? '/cars' : '/motorbikes'"
    class="absolute top-4 left-4 flex items-center space-x-2 group">
    <app-go-back></app-go-back>
  </a>
</div>
<div class="flex justify-center mt-4">
  <div class="mt-12 bg-white shadow-xl rounded-xl py-10 px-32">
    <h1 class="text-3xl font-bold text-center mb-4 text-slate-900">
      Create {{ vehicleType === "cars" ? "Car" : "Motorbike" }}
    </h1>
    <form class="space-y-6 w-full max-w-4xl mx-auto" (submit)="submitForm(); $event.preventDefault()">
      <div class="flex items-center space-x-12 mb-3">
        <div class="w-2/3">
          <label for="model" class="block text-gray-700 font-semibold mb-1">Model</label>
          <select id="model" name="model" [(ngModel)]="vehicleData.model"
            class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-sky-800"
            required>
            <option value="" disabled selected>Select a model</option>
            <option *ngFor="let model of models" [value]="model.id">
              {{ model.brand.name }} - {{ model.name }}
            </option>
          </select>
        </div>
        <div class="w-1/3 mt-6">
          <button [routerLink]="['/vehiclemodelcreate', vehicleType]" type="button"
            class="bg-sky-800 text-white text-base font-bold px-3 py-2 rounded-lg hover:bg-sky-950 focus:outline-none shadow-md flex items-center space-x-2">
            <img src="../../../assets/plus.png" alt="New Model Icon" class="mr-2 w-4 h-4 filter invert" />
            Create Model
          </button>
        </div>
      </div>

      <div class="flex space-x-12 mb-3">
        <div class="w-1/2">
          <label for="year" class="block text-gray-700 font-semibold mb-1">Year</label>
          <input id="year" name="year" type="number" placeholder="Enter year" [(ngModel)]="vehicleData.year"
            class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-sky-800"
            required />
        </div>
        <div class="w-1/2">
          <label for="kilometers" class="block text-gray-700 font-semibold mb-1">Kilometers</label>
          <input id="kilometers" name="kilometers" type="number" placeholder="Enter kilometers driven"
            [(ngModel)]="vehicleData.kilometers"
            class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-sky-800" />
        </div>
      </div>

      <div class="flex space-x-12 mb-3">
        <div class="w-1/2">
          <label for="price" class="block text-gray-700 font-semibold mb-1">Price</label>
          <input id="price" name="price" type="number" placeholder="Enter price in USD" [(ngModel)]="vehicleData.price"
            class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-sky-800"
            required />
        </div>
        <div class="w-1/2">
          <label for="color" class="block text-gray-700 font-semibold mb-1">Color</label>
          <input id="color" name="color" type="text" placeholder="Enter vehicle color" [(ngModel)]="vehicleData.color"
            class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-sky-800"
            required />
        </div>
      </div>

      <div class="flex space-x-12 mb-3" *ngIf="vehicleType === 'cars'">
        <div class="w-1/2">
          <label for="doors" class="block text-gray-700 font-semibold mb-1">Doors</label>
          <input id="doors" name="doors" type="number" placeholder="Enter number of doors"
            [(ngModel)]="vehicleData.doors"
            class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-sky-800"
            required />
        </div>
        <div class="w-1/2 flex items-center">
          <label for="electric" class="block text-gray-700 font-semibold mb-1 mr-2">Electric</label>
          <input id="electric" name="electric" type="checkbox" [(ngModel)]="vehicleData.electric"
            class="form-checkbox h-5 w-5 text-sky-800 focus:outline-none focus:ring-2 focus:ring-sky-800" />
        </div>
      </div>

      <div class="mb-3">
        <label for="image" class="block text-gray-700 font-semibold mb-1">Image</label>
        <input id="image" name="image" type="file" (change)="handleFileInput($event)"
          class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-sky-800"
          required />
      </div>

      <div class="text-center">
        <button type="submit"
          class="bg-sky-800 text-white text-base font-bold px-28 py-3 rounded-lg hover:bg-sky-950 focus:outline-none shadow-md mt-4">
          Submit
        </button>
      </div>

      <div *ngIf="message" class="text-center font-bold mt-3">
        <p class="text-green-500" *ngIf="!error">{{ message }}</p>
        <p class="text-red-500" *ngIf="error">{{ message }}</p>
      </div>
    </form>
  </div>
</div>